.sideModal{
    width: 33%;
    height:95%;
    right: 0;
    position: fixed;
    z-index: -1;
    overflow: hidden;
    transition: 0.5s;
    


}
.nav-open{
    right: 0;
}
.nav-close{
    right: -620px;
}

.centerFrom{
    width: 100%;
    height: 80%;
    background-color: white;
    overflow: auto;
}
.navbar{
    height: 50px;
}